# Path to DICOM SR documents. Supported file extensions:
# - .dcm
# - .tar.zst archive containing single .dcm file
INPUT=/path/to/dicom-sr-documents

# How many MB each TTL can become before the writer rotates. Lower value yields
# more, smaller QLever instances during the CONSTRUCT phase, which may help keep
# memory usage low for each query. Note that the file size refers to the Turtle
# file inside the archive. The archive's file size will likely be lower.
MAX_TTL_FILE_SIZE_IN_MB=1024

# Gzip compression level (0-9). Lower values are faster, higher values produce
# smaller files.
COMPRESSION_LEVEL=1

# UID and GID under which the user inside the QLever container runs. It is
# advised that you set these to `id -u` and `id -g`, respectively.
UID=1000
GID=1000

# QLever ports
QLEVER_PORT=7055
QLEVER_UI_PORT=8176

# Benchmarking
# NUM_THREADS=1
