services:
  convert:
    image: docker.io/aydio/dicom2rdf-convert:latest
    build:
      context: .
      target: convert
    volumes:
      - ${INPUT}:/input:ro
      - ./data/ttl-raw:/ttl

  build-raw-index:
    image: docker.io/adfreiburg/qlever@sha256:04903551c4c8d27f8ba13e6e67906d30116e5b1ebf83f7716babbad61751b1b6
    environment:
      - UID=${UID}
      - GID=${GID}
    volumes:
      - ./data/ttl-raw:/ttl:ro
      - ./data/index-raw:/data
      - ./Qleverfile:/data/Qleverfile
      - ./scripts/build-raw-index.sh:/scripts/build-raw-index.sh
    working_dir: /data
    command: ["-c", "bash /scripts/build-raw-index.sh"]

  construct:
    image: docker.io/aydio/dicom2rdf-construct:latest
    build:
      context: .
      target: construct
    environment:
      - UID=${UID}
      - GID=${GID}
    volumes:
      - ./data/index-raw:/data
      - ./data/ttl-semantic:/ttl
      - ./Qleverfile:/data/Qleverfile
    working_dir: /data

  build-semantic-index:
    image: docker.io/adfreiburg/qlever@sha256:04903551c4c8d27f8ba13e6e67906d30116e5b1ebf83f7716babbad61751b1b6
    environment:
      - UID=${UID}
      - GID=${GID}
    volumes:
      - ./data/ttl-semantic:/ttl:ro
      - ./data/index-semantic:/data
      - ./Qleverfile:/data/Qleverfile
    working_dir: /data
    command: ["-c", "QLEVER_NAME=semantic-dicom QLEVER_INPUT_FILES='../ttl/*.ttl.gz' qlever index --overwrite-existing"]

  qlever:
    image: docker.io/adfreiburg/qlever@sha256:04903551c4c8d27f8ba13e6e67906d30116e5b1ebf83f7716babbad61751b1b6
    healthcheck:
      test: ["CMD", "curl", "-sf", "http://qlever:7055/ping"]
      start_period: 30s
      start_interval: 5s
    environment:
      - UID=${UID}
      - GID=${GID}
    volumes:
      - ./data/index-semantic:/data
      - ./Qleverfile:/data/Qleverfile
    ports:
      - "${QLEVER_PORT}:7055"
    working_dir: /data
    command: ["-c", "QLEVER_NAME=semantic-dicom qlever start --run-in-foreground"]

  qlever-ui:
    image: docker.io/aydio/dicom2rdf-qlever-ui:latest
    build:
      context: .
      target: qlever-ui
    environment:
      - QLEVER_PORT=${QLEVER_PORT}
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://qlever-ui:7000/default"]
      start_period: 30s
      start_interval: 5s
    ports:
      - "${QLEVER_UI_PORT}:7000"
